.Search {
    height: 75px;
    width: 100%;
    padding: 10px;
    position: relative;

}

.Search::after {
    content: '';
    background-image: url('../../img/search.svg');
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    right: 16px;
    background-size: cover;
    transform: translateY(-50%);
}

.search-input {
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    font-family: sans-serif;
    font-size: 22px;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
    box-shadow: 2px 1px 3px 0px rgba(206, 206, 206, 0.52);
}

.search-input:focus {
    outline: none;
}